<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicnicsAlicante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ time }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/fulllogo.png') }}" alt="PicnicsAlicante Logo" class="logo">

        <!-- Флаги для выбора языка -->
        <div class="flags">
            <a href="{{ url_for('main.select_language', lang='en') }}">
                <img src="{{ url_for('static', filename='images/flags/en.svg') }}" alt="EN" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='sp') }}">
                <img src="{{ url_for('static', filename='images/flags/sp.svg') }}" alt="ES" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='fr') }}">
                <img src="{{ url_for('static', filename='images/flags/fr.svg') }}" alt="FR" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='ua') }}">
                <img src="{{ url_for('static', filename='images/flags/uk.svg') }}" alt="UA" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='de') }}">
                <img src="{{ url_for('static', filename='images/flags/de.svg') }}" alt="DE" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='it') }}">
                <img src="{{ url_for('static', filename='images/flags/it.svg') }}" alt="IT" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='pl') }}">
                <img src="{{ url_for('static', filename='images/flags/pl.svg') }}" alt="PL" class="flag">
            </a>
            <a href="{{ url_for('main.select_language', lang='ru') }}">
                <img src="{{ url_for('static', filename='images/flags/ru.svg') }}" alt="RU" class="flag">
            </a>
        </div>


        <!-- Форма регистрации -->
        <form method="POST" action="{{ url_for('main.register', lang=lang) }}">
            <label for="email">{{ labels['email'] }}</label>
            <input type="email" id="email" name="email" autocomplete="username" required>

            <label for="password">{{ labels['password'] }}</label>
            <input type="password" id="password" name="password" autocomplete="new-password" required>

            <button type="submit">{{ translations['register'] }}</button>

            <p class="forgot-password">
                <a href="{{ url_for('auth.forgot_password', lang=lang) }}">{{ translations['forgot_password'] }}</a>
            </p>
        </form>

        <!-- Контейнер для сообщений -->
        <div id="flash-message"></div>
    </div>

    <script>
<!--        // Получаем flash-сообщения-->
<!--        const flashMessage = {{ get_flashed_messages(with_categories=true) | tojson }};-->
<!--        const flashContainer = document.getElementById("flash-message");-->

<!--        if (flashMessage.length > 0) {-->
<!--            flashMessage.forEach(([category, message, user_id]) => {-->
<!--                flashContainer.style.color = category === "success" ? "green" : "red";-->
<!--                flashContainer.innerHTML = message;-->
<!--                flashContainer.style.display = "block";-->
<!--            });-->

<!--            // Убираем сообщение через 2 секунды-->
<!--            setTimeout(() => {-->
<!--                flashContainer.style.display = "none";-->
<!--                flashContainer.innerHTML = "";-->
<!--            }, 2000);-->

<!--            // Если сообщение успешно, перенаправляем на страницу бронирования-->
<!--            if (flashMessage.some(([category, _]) => category === "success")) {-->
<!--                setTimeout(() => {-->
<!--                    window.location.href = "{{ url_for('main.booking_page', lang=lang, user_id={{user_id}}) }}";-->
<!--                }, 2000);-->
<!--            }-->
<!--        }-->

           const flashMessages = {{ get_flashed_messages(with_categories=true) | tojson }};
           const flashContainer = document.getElementById("flash-message");

           if (flashMessages.length > 0) {
               flashMessages.forEach(([message, category, userId]) => {
                   flashContainer.style.color = category === "success" ? "green" : "red";
                   flashContainer.innerHTML = message;
                   flashContainer.style.display = "block";

        // Создаем URL с user_id и lang
        const lang = "{{ lang }}";  // Язык из шаблона
        const url = /booking_page/${userId}/?lang=${lang};

        // Перенаправляем через 2 секунды
        setTimeout(() => {
            window.location.href = url;
        }, 2000);
    });

    // Убираем сообщение через 2 секунды
    setTimeout(() => {
        flashContainer.style.display = "none";
        flashContainer.innerHTML = "";
    }, 2000);
}
    </script>


</body>
</html>
