/* Общий стиль страницы */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Базовый фон */
    font-family: Arial, sans-serif;
}

/* Контейнер для проформы */
.order-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 380px; /* Ширина контейнера */
    background-color: #f5f5dc;
}

/* Заголовок "Proforma" с уменьшенными отступами сверху и снизу */
.order-check-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px; /* Отступ сверху уменьшен */
    margin-bottom: 5px; /* Отступ снизу уменьшен */
    color: green; /* Зеленый цвет текста */
}

/* Стиль таблицы */
.order-summary {
    margin-top: 10px;
    background-color: #fff; /* Белый фон для таблицы */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стиль самой таблицы */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

/* Стиль для ячеек таблицы, чтобы длинный текст переносился */
.table td {
    word-wrap: break-word;
    word-break: break-all;
}

/* Информация о доставке */
.delivery-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
}

/* Убедимся, что контейнер с кнопками имеет правильный размер */
.payment-actions {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Задаем 100% ширины */
}

/* Стили для кнопок *//* Стили для кнопок */
.btn {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%;  /* Устанавливаем ширину кнопок на 100% от родительского контейнера */
    box-sizing: border-box; /* Чтобы padding не вылезал за пределы */
    margin: 5px 0; /* Добавим небольшой отступ сверху и снизу для красоты */
    background-color: #28a745;  /* Зеленый цвет для кнопок */
    color: white;  /* Белый текст */
}

.btn:hover {
    background-color: #218838;  /* Темно-зеленый цвет при наведении */
}

/* Убираем стиль для btn-primary и btn-secondary, так как все кнопки теперь будут одинаковыми */
